p {
    text-align: center;
    color: #b61edd;
}

    h1{
        text-align: center;
        color: #b61edd;
    }

 li {
    position:relative;
    color: #b61edd;
    left: px;
 }

    h3{
        text-align: center;
        color: #b61edd;
}

 body {
    display: grid;
    place-items: center;
    background-color: black;
 }
