h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.container {
    position: absolute;
    width: 80%;
    left: 10%;
}

h2 {
    position: relative;
    text-align: center;
    width: 90%;
    left: 5%;
}
