h1 {
    text-align: center;
    color: #4B0082;
}

h2 {
    text-align: center;
    color: #4B0082;
}

h3 {
    text-align: center;
    color: #4B0082;
}


div {
    border: 3px solid;
    border-color:  #4B0082;
    width: 550px;
    height: 500px;
    border-radius: 8px;
}

body {
    display: grid;
    place-items: center;
}
