p {
    text-align: center;
    font-size: large;
    color: black;


}

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    color:black
}
h3 {
    text-align: center;
}

body {
    background-color: #cfcff7;
}

.container {
    position: absolute;
    text-align: center;
    width: 80%;
    right: 10%;
    }
