body {
    background-color: white;
    font-family: "Arial", sans-serif;
    text-align: center; /* Centraliza todo o conteúdo */
}

h1 {
    color: black;
    font-size: 32px; /* Ajusta o tamanho da fonte do título */
}

h2 {
    color: black;
    font-size: 24px; /* Ajusta o tamanho da fonte do subtítulo */
}

.container {
    text-align: left; /* Alinha o texto do conteúdo à esquerda */
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: 800px;
    padding: 20px;
    font-size: 18px;
    line-height: 1.6; /* Espaçamento entre linhas */
}
